.restart {
  margin: 0 1rem;
}

.restart button {
  border-radius: 50% 20% / 10% 40%;
  border-color: lightgreen;
}

@media (prefers-color-scheme: light) {
  .restart button {
    border-color: green;
  }
}