.tour {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.j1 {
  color: lightblue;
}

.j2 {
  color: lightcoral;
}

.win {
  color: lightgreen;
}

.draw {
  color: lightsalmon;
}

@media (prefers-color-scheme: light) {
  .j1 {
    color: blue;
  }
  
  .j2 {
    color: red;
  }
  
  .win {
    color: green;
  }
  
  .draw {
    color: orange;
  }
}