.reset {
  margin-top: 1rem;
}

.reset button {
  border-color: lightgreen;
  border-radius: 50% 20% / 10% 40%;
}

@media (prefers-color-scheme: light) {
  .reset button {
    border-color: green;
  }
}